@font-face {
   font-family: 'mont-heavydemo-webfont';
   font-display: swap;
   src: url('file:///Users/andreasimonetti/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-09-23_093949/fonts/mont-heavydemo-webfont/font.woff');
}
