@font-face {
   font-family: 'bariol_light-webfont';
   font-display: swap;
   src: url('file:///Users/andreasimonetti/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-09-23_093949/fonts/bariol_light-webfont/font.ttf');
}
